.nav-bar {
    display: flex;
    align-items: center;
    color: black;
    background-color: grey;
    width: 100%;
    padding: 5px 20px;
}

.logo {
    display: block;
    min-width: 32px;
}

.nav-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 30px;
}
